<%= form_with(model: guitar) do |form| %>
  <% if guitar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guitar.errors.count, "error") %> prohibited this guitar from being saved:</h2>

      <ul>
        <% guitar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_field :name, class:"form-control", placeholder:"Name" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.text_field :brand, class:"form-control", placeholder:"Brand" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.text_field :price, class:"form-control", placeholder:"Purchase Price" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.text_field :serial, class:"form-control", placeholder:"Serial #" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.text_field :img, class:"form-control", placeholder:"Image link \"https://...\"" %>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :"Make available to public" %>
    <%= form.check_box :public %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Add Guitar", class:"btn btn-primary" %>
  </div>
<% end %>

