<br>
<div class="w-75 mx-auto">
  <% if !@guitars.nil? %>
  <h1>
    <span>Guitars</span>
  </h1>
  <table class ="table">
    <thead>
      <tr>
        <th colspan="1"></th>
        <th scope="col">Brand</th>
        <th scope="col">Name</th>
        <th scope="col">Serial</th>
        <th scope="col">Owner</th>
      </tr>
    </thead>

    <tbody>
      <% @guitars.each do |guitar| %>
        <tr scope="row">
          <td><%= link_to image_tag(guitar.img, class:"table-img"), guitar_path(guitar) %></td>
          <td><%= guitar.name %></td>
          <td><%= guitar.brand %></td>
          <td><%= guitar.serial %></td>
          <td><%= guitar.user.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
  <h1>No results...</h1>
  <% end %>
</div>
<br>

