<div class="text-center">
	<br> <br>
	<h1 id="title">Guitar Collection Tracker</h1>
	<p id="slogan">Keep up with <strong>GAS</strong> (Guitar Acquisition Syndrome) </p>
  <br>
  <h2>Check out other user's guitars</h2>

</div>
<div id="carouselExampleSlidesOnly" class="carousel-dark slide text-center" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- <img src="https://i.imgur.com/U2hIQM5.jpg?1" alt="Guitar Collection 1"> -->
      <% if @guitar.nil? %>
      <%= image_tag "https://i.imgur.com/U2hIQM5.jpg?1" %>
      <% else %>
      <%= image_tag @guitar.img %>
      <div class="carousel-caption d-none d-md-block">
        <h3><strong><%= @user.name + "\'s"%></strong></h3>
        <p><%= @guitar.brand + " " + @guitar.name %></p>
      </div>
      <% end %>
    </div>
    <div class="carousel-item">
      <% if @guitar.nil? %>
      <%= image_tag "https://happymag.tv/wp-content/uploads/2017/03/guitarshop-1.jpg" %>
      <% else %>
      <%= image_tag @guitar.img %>
      <div class="carousel-caption d-none d-md-block">
        <h3><strong><%= @user.name + "\'s"%></strong></h3>
        <p><%= @guitar.brand + " " + @guitar.name %></p>
      </div>
      <% end %>
    </div>
    <div class="carousel-item">
      <% if @guitar.nil? %>
      <%= image_tag "https://live.staticflickr.com/163/368968709_bed83eb885_b.jpg" %>
      <% else %>
      <%= image_tag @guitar.img %>
      <div class="carousel-caption d-none d-md-block">
        <h3><strong><%= @user.name + "\'s"%></strong></h3>
        <p><%= @guitar.brand + " " + @guitar.name %></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
